{% extends "inc/base.html" %}
{% load static %}

{% block navbar %}
    {% include "inc/navbar.html" %}
{% endblock navbar %}

{% block content %}
<h1 style="text-align: center; margin-top: 20px; margin-bottom: 30px">Ask question</h1>
{{ form.errors }}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="formGroupExampleInput">Title</label>
        <p>{{ form.title_text }}</p>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Type your question</label>
        <p>{{ form.question_text }}</p>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Tags (please, list them with a space)</label>
        <p>{{ form.tag_field }}</p>
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-4">Ask</button>
    </div>
</form>
{% endblock content %}