{% extends "inc/base.html" %}
{% load static %}
{% block navbar %}
    {% include "inc/navbar.html" %}
{% endblock navbar %}
{% block content %}
    <div class="row gx-5"></div>
    <div class="col-9">
        <ul class="list-inline">
            <li class="list-inline-item">
                <h2 class="mt-2" style="padding-left: 20px">Questions</h2>
            </li>
            <li class="list-inline-item">
                <div class="d-flex" style="margin-left: 30rem;">
                    <a type="button"
                       class="btn btn-success me-2 mb-2"
                       href="{% url 'new' %}">New questions</a>
                    <a type="button" class="btn btn-danger me-2 mb-2" href="{% url 'hot' %}">Hot questions</a>
                </div>
            </li>
        </ul>
        {% for question in page_obj %}
            {% include "inc/question-template.html" %}
        {% endfor %}
        {% include "inc/paginator.html" %}
    </div>
    <div class="col-3">
        <h2 class="mt-2">Tags</h2>
        <div class="mt-4">{% include "inc/tags-template.html" %}</div>
    </div>
</div>
{% endblock content %}
