{% extends "inc/base.html" %}
{% load static %}

{% block navbar %}
{% include "inc/navbar.html" %}
{% endblock navbar %}

{% block content %}
  <div class="row gx-5"></div>
    <div class="col-9">
      <h2 class="mt-2" style="padding-left: 20px">Questions</h2>

      {% for question in questions %}
        {% include "inc/question-template.html" %}
      {% endfor %}

      {% include "inc/paginator.html" %}
      
    </div>

    <div class="col-3">
      <h2 class="mt-2">
        Tags
      </h2>
      <div class="mt-4">
        <button type="button" class="btn btn-light">Python</button>
        <button type="button" class="btn btn-light">C</button>
        <button type="button" class="btn btn-light">C++</button>
        <button type="button" class="btn btn-light">Django</button>
        <button type="button" class="btn btn-light">Go</button>
        <button type="button" class="btn btn-light">Linux</button>
        <button type="button" class="btn btn-light">macOS</button>
      </div>
    </div>
  </div>
{% endblock content %}
