{% extends "inc/base.html" %}
{% load static %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <div class="me-auto">
                <a class="navbar-brand d-flex" href="{% url "index" %}">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="25"
                         height="25"
                         fill="currentColor"
                         class="bi bi-code-square me-2"
                         viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
                    </svg>
                    <div class="active">AskMilchenko</div>
                </a>
            </div>
            <div class="collapse navbar-collapse me-2" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="btn btn-primary" href="{% url "ask" %}">Ask</a>
                </div>
            </div>
            <img src="{{ user.url }}"
                 alt=""
                 width=
                 50
                 height=
                 50
                 class="rounded-circle me-2"/>
            <div class="me-2">{{ request.user }}</div>
        </div>
    </nav>
{% endblock navbar %}
{% block content %}
    <div class="row gx-3 align-items-center mt-2">
        <h1 style="margin-bottom: 40px;">User settings</h1>
        {% if msg %}
            <p class="text-success">
                {{ msg }}
            </p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="list-inline">
                <li class="list-item">
                    <div class="form-group row mb-4">
                        <div class="name-item col-sm-12 col-3">
                            <label for="formGroupExampleInput" class="form-label">Username</label>
                            {{ form.username }}
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="form-group row mb-4">
                        <div class="name-item col-sm-12 col-3">
                            <label for="formGroupExampleInput" class="form-label">Name</label>
                            {{ form.first_name }}
                        </div>
                    </div>
                </li>
                <div class="form-group row mb-4">
                    <div class="name-item col-sm-12 col-3">
                        <label for="formGroupExampleInput" class="form-label">Surname</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="name-item col-sm-12 col-3">
                        <label for="formGroupExampleInput" class="form-label">Email</label>
                        {{ form.email }}
                    </div>
                </div>
                <div>
                    <label for="formFile" class="col-form-label">Change avatar image</label>
                    <div >
                        <img src="{{ user.url }}" width=50 height=50 class="profile-pic">
                        {{ form.avatar }}
                    </div>
                </div>
            </ul>
            <div>
                <button type="submit" class="btn btn-primary mt-4">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}
