{% extends "inc/base.html" %}
{% load static %}
{% block navbar %}
    {% include "inc/navbar.html" %}
{% endblock navbar %}
{% block content %}
    <div class="col-9">
        <div class="question d-flex border-success">
            <div class="left-side me-3">
                <img class="question-avatar rounded mx-auto d-block"
                     src="{% static "img/question.png" %}"
                     alt="">
                <div class="btn-group" role="group">
                    <a type="button" class="btn">Author: {{ question.user }}</a>
                </div>
            </div>
            <div class="me-2 flex-fill">
                <h3>{{ question.title_text }}</h3>
                <p style="word-break: break-all;">
                    {{ question.question_text }}
                </p>
                <li class="list-inline-item"
                    style="margin-bottom: 0;
                           margin-right: 23rem;">
                    <div class="btn-group" role="group">
                        {% for tag in question.get_tags %}
                            {% if tag.color == 'r' %}
                                <button class="btn btn-danger btn-sm">{{ tag }}</button>
                            {% elif tag.color == 'y' %}
                                <button class="btn btn-warning btn-sm">{{ tag }}</button>
                            {% else %}
                                <button class="btn btn-success btn-sm">{{ tag }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </div>
        </div>
        <h3 class="d-flex" style="margin: 20px;">Answers  ({{ answer|length }})</h3>
        {% include 'inc/question-paginator.html' %}
        {% for item in question_page_obj %}
            {% include 'inc/answer-template.html' %}
        {% endfor %}
        {% if user.profile.is_authenticated %}
            <div class="form-group mb-2" style="margin: 20px;">
                <form method="post">
                    {% csrf_token %}
                    <p for="formGroupExampleInput text-primary">
                        Type your answer
                    </p>
                    <textarea class="form-control mb-4"
                              name="answer"
                              placeholder="Enter your answer here"
                              aria-label="With textarea"></textarea>
                    {{ form.title_text }}
                    <button type="submit" class="btn btn-primary mb-4" style="margin: 20px;">Answer</button>
                </form>
            </div>
        {% endif %}
    </div>
    <div class="col-3">
        <h2 class="mt-2">Tags</h2>
        <div class="mt-4">{% include "inc/tags-template.html" %}</div>
    </div>
</div>
{% endblock content %}
